*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: "Lato", sans-serif;
}
.navbar{
    position: sticky;
    top:0;
    height:60px;
    width:100%;
    display: flex;
    background: #222;
}
.navbar-center{
    display:flex;
    width:100%;
    margin:0;
    padding:0 1.5px;
}
.nav-text{
    color:#fff;
    font-size: 1.5rem;
    padding-top: 20px;
    letter-spacing: 0.1rem;
}
.nav-icon{
    font-size:3rem;
    color: white;
    margin-left: 110rem;
margin-top: 1rem; 
}
.Search-box{
    margin-top:3rem;
}
#box{
    width:50%;
    border:2px solid #aaa;
    border-radius:4px;
    height:3rem;
    margin-left:25%;
}
.container{
    margin-top: 3rem;
}
.select-container{
margin-left:40%;
}
#sort{
    height:2rem;
    width:10rem;
    margin-right: 50px;
}
#filter{
    height:2rem;
    width:10rem;
}
.products-center{
    width:90vw;
    max-width:1170px;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px, 1fr)) ;
    grid-column-gap: 1.5rem;
     grid-row-gap: 2rem;
}
